Flask
flask-cors
Werkzeug
pandas
requests
whois
dnspython
joblib
beautifulsoup4
pytesseract
PyPDF2
Pillow
opencv-python
numpy
transformers
pickle-mixin
androguard
tldextract
pymongo
scikit-learn==1.6.1
gunicorn
python-dotenv
twilio
bcrypt
cryptography
